.green-btn {
  @include center();
  font-size: 18px;
  font-weight: 500;
  background-color: $secondary-color;
  color: white;
  border: 2px solid transparent;
  height: 50px;
  padding: 0 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
  svg {
    margin-left: 10px;
  }
}
.green-btn:hover {
  background: none;
  color: $secondary-color;
  border: 2px dashed $secondary-color;
}

.add-to-cart {
  background-color: $secondary-color !important;
  width: 100% !important;
  height: 50px !important;
}
.add-to-cart:hover {
  background: none !important;
  border: 2px dashed $secondary-color !important;
}

.cart-wishlist {
  padding: 10px 10vw 30px;
  h1 {
    font-family: $font-i;
    text-align: center;
    margin-bottom: 30px;
  }

  .delete-btn:hover {
    background: none;
    color: #cc2020;
    border: 2px dashed #cc2020;
  }

  a {
    text-decoration: none;
  }

  .cart-inner {
    table {
      text-align: center;
      margin-bottom: 20px;
      width: 100%;
      thead {
        background-color: #f8f8f8;
      }
      th {
        text-align: center;

        font-size: 18px;
        font-weight: 600;
        padding: 15px;
      }
      tr {
        border: 1px solid #e6e6e6;
        font-size: 18px;
        text-align: left;
        td {
          padding: 15px;
          text-align: center;
          .counter {
            border: 1px solid #e6e6e6;
            border-radius: 30px;
            padding: 10px;
            @include center();
            .number {
              width: 30px;
              @include center();
            }
          }
          button {
            width: 30px;
            height: 30px;
            background: none;
            cursor: pointer;
          }
        }
        td:nth-child(2),
        td:nth-child(4) {
          color: $primary-color;
          font-weight: 500;
          font-size: 20px;
        }
        img {
          border-radius: 30px 0;
        }
      }
    }

    .bottom {
      @include between();
      margin-bottom: 20px;
      form {
        @include center();
        gap: 10px;
        input {
          border: 1px solid $my-gray;
          width: 250px;
          height: 50px;
          padding: 0 20px;
          border-radius: 30px;
        }
      }
    }
  }

  .cart-totals {
    background-color: #f8f8f8;
    padding: 0;
    top: 200px;
    .top {
      padding: 20px 30px;
      background-color: #ebebeb;
      h3 {
        font-family: $font-i;
        font-size: 20px;
        // font-weight: 600;
        margin: 0;
      }
    }
    .content {
      padding: 20px 30px;
      .con-row {
        text-align: left;
        margin-bottom: 20px;
        h4,
        p {
          width: 50%;
          font-size: 18px;
        }
      }
      .con-row:not(.total) {
        border-bottom: 1px solid #d0d0d0;
      }
      .total {
        h4,
        p {
          font-weight: 600;
          color: $primary-color;
        }
      }
      button {
        width: 100%;
      }
    }
  }
}


.checkout {
  background-color: $primary-bg;
  h2 {
    background-color: $secondary-color;
    color: white;
    padding: 20px 0;
    border-radius: 0 20px;
    font-family: $font-i;
    font-size: 40px;
  }
  .product-form {
    background-color: #fff;
    width: 600px;
    padding: 30px;

    .bottom {
      @include center();
      flex-direction: column;
    }
    .payment-con {
      button {
        border: 1px solid $my-gray;
      }
      button.active {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
