.faq {
  padding: 10px 10vw 30px;

  h1 {
    font-family: $font-i;
    text-align: center;
  }

  h3 {
    margin: 40px 20px 20px;
    font-size: 26px;
  }

  .accordion-button {
    background-color: $secondary-color;
    color: white;
  }
  button:focus {
    outline: none !important;
  }
  .accordion-button.collapsed {
    background-color: rgba($color: $secondary-color, $alpha: 0.1);
    color: $text-color;
  }

  .help {
    @include center();
    flex-direction: column;
    margin-top: 70px;
    svg {
      font-size: 150px;
    }
    .text {
      margin-top: 30px;
      p {
        text-align: center;
        padding: 10px 10vw;
      }
    }

    button {
      font-size: 20px;
      font-weight: 500;
      background-color: $primary-color;
      color: white;
      padding: 10px 20px;
      border-radius: 30px;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      svg {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    button:hover {
      background: none;
      border: 2px dashed $primary-color;
      color: $primary-color;
    } 

    .features {
      padding: 10px;
      .card {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        border: none;
        transition: all 0.3s ease;
        .desc {
          h4 {
            font-size: 20px;
          }
          p {
            margin: 0;
          }
        }
        svg {
          font-size: 50px;
          margin-right: 20px;
          color: $primary-color;
        }
      }
      .card:hover {
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}