@import "mixin";
@import "variables";
@import "components";
@import "header";
@import "footer";
@import "search";
@import "home";
@import "shop";
@import "productcard";
@import "productdetails";
@import "about";
@import "contact";
@import "cart";
@import "login";
@import "account";
@import "accountdetails";
@import "dashboard";
@import "faq";
@import "policy";
@import "mediaqueries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}


#root {
  position: relative;
}

button {
  border: none;
}

.accordion-button:focus, .form-control:focus {
  box-shadow: none;
  outline: none;
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-weight: 600;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  backdrop-filter: blur(5px);
  color: $primary-color;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
  svg {
    font-size: 40px;
  }
}

.scroll-btn.show {
  opacity: 1;
  transform: translateY(0);
}

.Toastify__progress-bar {
  background-color: $secondary-color !important;
}

::selection {
  background: rgba($color: $primary-color, $alpha: 0.9);
  color: white;
}

.not-found {
  h1 {
    font-family: $font-i;
    font-size: 100px;
    color: $primary-color;
  }
  h2 {
    font-size: 36px;
  }
  a {
    text-decoration: none;
  }
}
